body{
    background-image: url("../imagens/show2.jpeg");
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100vw;
    color: aliceblue;
}

.area{
    margin: 0 auto;
    position: relative;
    text-align: center;
    margin-top: 3vw;
}

.area > h1{
    font-size: 70px;
}

.form{
    display: flex;
    margin: 0 auto;
    margin-top: 1.5vw;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 20px;
    width: 20vw;
    font-size: 20px;
    border: 1px;
    border-radius: 5px;
}

.enviar{
    margin-top: 1vw;
    height: 30px;
    width: 100px;
    background-color: aliceblue;
    border: 1px 1px black;
    border-radius: 5px;
    font-size: 15px;

}

.txt{
    padding: 5px;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}